/* You can add global styles to this file, and also import other style files */
footer{
    width: 100%;
    bottom: 0;
    height: 50px;
    position: fixed;
    background-color: rgb(231, 199, 139);
}
.na{
    height: 50px;
    background-color: rgb(33, 13, 88);
}
