<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 mt-3">
        <h3 class="mt-5" style="color: blue;">Enjoy the <span class="text-success">SBI-BANKING</span></h3>
        <h4 class="mt-2 text-black">trust is the only thing you have to sell!!</h4>
        <p class="mt-3 text-dark" style="color: blue;">Net Banking Meaning. Netbanking, also known as internet banking,<br>
            is a digital method to conduct banking transactions by the means of the internet. <br>
            It is an electronic system, which any individual with a bank account can activate <br> and use for their financial proceedings</p>
            <img src="https://i.postimg.cc/m2CP2VrJ/bank-removebg-preview.png" alt="" class="mt-1 ms-1 imag2" id="trans">
      </div>
</div>