<div class="row">
    <div class="col-6 mt-3">
        <div class="mt-5 d-grid gap-2 container w-50">
            <button class="btn btn-success" type="button">PROFILE VIEW <i class="fa-regular fa-user"></i></button>
            <button class="btn btn-success" type="button">BALANCE CHECK <i
                    class="fa-light fa-scale-balanced"></i></button>
            <button class="btn btn-success" type="button">MONEY TRANSFER</button>
            <button class="btn btn-success" type="button">ACCOUNT STATEMENT</button>
            <button class="btn btn-danger" type="button">DELETE ACCOUNT</button>
            <button class="btn btn-primary" type="button">LOG OUT</button>
        </div>

    </div>
    <div class="col-6 mt-3">
        <h3 class="mt-5" style="color: blue;">Enjoy the <span class="text-success">SBI-BANKING</span></h3>
        <h4 class="mt-2 text-black">trust is the only thing you have to sell!!</h4>
        <p class="mt-3 text-dark" style="color: blue;">Net Banking Meaning. Netbanking, also known as internet
            banking,<br>
            is a digital method to conduct banking transactions by the means of the internet. <br>
            It is an electronic system, which any individual with a bank account can activate <br> and use for their
            financial proceedings</p>
        <img src="https://i.postimg.cc/m2CP2VrJ/bank-removebg-preview.png" alt="" class="mt-1 ms-1 imag2" id="trans">
          
    </div>
</div>